.mainbody{
  background-image: url("https://cdn.pixabay.com/photo/2014/04/05/11/38/bokeh-316425__340.jpg");
  /* background-position: center; */
  background-size: cover; 
  background-repeat: no-repeat;

}