.mainbody{
  background-image: url("https://cdn.pixabay.com/photo/2019/05/31/14/22/sea-4242303_960_720.jpg");
  /* background-position: center; */
  background-size: cover; 
  background-repeat: no-repeat;

}