<h1 class="center">
    Welcome to My Quotes
</h1>
<hr>


<div class="row">
    
    <div class="col-md-8">
        <div *ngFor="let quote of quotes;let i =  index">
            <div>
                <li>{{quote.name}}</li>
                <button (click)="toggleDetails(i)" class="btn btn-primary">Toggle Details</button>
            </div>

            <div *ngIf="quote.showDescription">
                <app-posting-details [quote]="quote" (isComplete)="deleteQuote($event,i)"></app-posting-details>
            </div>
        </div>
    </div>
    <!-- < *ngiF -->
    <!-- logic for deleting a quote -->
</div>
