<h1 class="center">
    Welcome to My Quotes
</h1>
<hr>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
            <ul>
        <div *ngFor="let quote of quotes;let i =  index">
        <li>{{quote.name}}</li>
        <button (click) ="toggleDetails(i)">Toggle Details</button>
            <li *ngFor="let quote of quotes">
                {{quote.name}}
                <app-posting-details [quote]="quote"></app-posting-details>
            </li>
        </div>
        </ul>
        <!-- < *ngiF -->
        <!-- logic for deleting a quote -->

        <app-posting-details *ngIf="quote.showDescription" [quote]="quote" (isComplete)="completeQuote($event,i)">

        </app-posting-details>
    </div>
</div>